body {
  margin: 0;
  padding: 0;
  background-color: aquamarine; 
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333; 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px;
  padding: 10px;
  background-color: #fff; 
  border-radius: 8px; 
  display: flex;
  justify-content: space-between;
}


li button {
  background-color: #dc3545; 
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #c82333; 
}
